<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Shopify Playground</title>
  <meta name="description" content="Shopify nodejs playground">
  <meta name="author" content="DM Solutions Group Inc">

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- CSS -->
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <div class="main-content container">{{{body}}}</div>

  <!-- scripts-->
  <script src="js/require-1.0.7.min.js" type="text/javascript" charset="utf-8" data-main="js/main"></script>
  
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
</body>
</html>
